// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profileBar {
	height: 220px;
	background-color: #FFFED8;
	
}

.profileNavigationBar{
	
	background-color: #FFFFFF;
	border-top: 1px solid #AAA;
	box-shadow: 1px 1px 1px #AAA;
}

.profilePictureHolder{
	height: 160px;
	width: 160px;
	background-color: #AAA;
	position: absolute;
	bottom: 20px;
	left: 45px;
}

.profileBarRow{
	
	padding-left: 12px;
}

.profileNameAndButtons{
	font-size: 20px;
	color: #5D4141;
	position: absolute;
	top: 73px;
	width: 70%;
	left: 250px;
}

.profileButtons{
	
	float: right;
}

.profileButton{
	margin-left: 12px;
}

.profileBio{
	margin-top: 15px;
	font-size: 13px;
	margin-left: 8px;
	color: #000;
}

.messageButton{
	background-color: #FFF;
	border: 1px solid #AAA;
	color: #000;
}

.profileNavigationBarButtons{
	margin-left: 230px;
	padding: 8px;

}

.profileNavigationBarButton{
	padding-left: 12px;
	padding-right: 12px;
	border-right: 1px solid #AAA;
}

#profileTimeLine{
	margin-top: 0px;
}

.infoBar{
	height: 200px;
	padding: 12px;
	margin-top: 12px;
	background-color: #FFF;

}

.infoBarHeader{
	border-bottom: 1px solid #AAA;
	color: #666;

}

.profileInfoDetail{
	margin-top: 8px;
}