// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


///Yellow color- #FFFED8 

html{
	color: #FFFED8;
	font-size: 15px;

	
}

.container-fluid {
	background-color: #EEEEEE;
	font-family: Tahoma;
}

textarea{
	background-color: #FAFAFA
}

.navbar {
	
	background-color: #BDE6FF;
	text-align: center;
	
	
	border-radius: 0px;
	
}

#homeNavbar{
	margin-bottom: 0px;
	box-shadow: 0 2px 1px #89B;
	border-radius: 0px;
	min-height: 42px;
	width: 100%;
	position: fixed;
	z-index: 15;
	text-align: left;
}



.homeNavbarItem{
	
	min-height: 40px;
}

#ProfileOptionsItems{
	padding: 8px;

}
.ProfileOptionsItem{
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 5px;
}

#ProfileNotificationsButtons{
	border-right: 1px solid #AAA;
}

#ProfileNotificationsButton{
	padding-left: 12px;
	padding-right: 8px;
	padding-bottom: 0px;
	
	font-size: 15px;
}

#ProfileOptionsItemsCurrentUser {
	
	border-right: 1px solid #AAA;
}

#searchAndHomeItems{
	margin-left: 25px;
}

#searchBar{
	border-radius: 2px;
	border: 0px;
	margin-left: 8px;
}

#searchButton{
	
	font-size: 20;
	border-radius: 2px;
}

#searchButtonContainer{
	padding: 3px;
	background-color: #BDE6FF;

}

.mainBoxes{
	background-color: #EEEEEE;
	min-height: 650px;

	margin: 0px;
	text-align: center;
	
	
}



.mainBox{
	
	padding-right: 0px;
	padding-left: 0px;

}

.favorites{
	margin-top: 60px;
	

}



#messagesBox{
	background-color: #946B6B;
	position: fixed;
	min-height: 1000px;
	border-radius: 2px;
	float: right;
	padding-left: 12px;
	padding-right: 12px;
	box-shadow: -1px 0px 1px #AAA;
}

.homeObject {
	width: 100%;
	background-color: #FAFAFA;

	margin-top: 12px;
	margin-bottom: 8px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: left; 
	padding: 15px;
	box-shadow: 1px 1px 1px #AAA;
	box-shadow: -1px -1px 1px #AAA;

}

.newsFeed{
	padding: 0px 13px 5px 13px;
	margin-top: 60px;
}


.messages{
	margin-top: 60px;
}

.likeBar {
	
	border-top: 0.5px solid #CCC;
	
}


.likeBarButtons{

	text-align: center;
	
	padding: 8px;
}

.likeBarButton{

	padding-left: 40px;
	padding-right: 40px;


}

.postLikesAndComments{
	background-color: #F0F0F0;
	font-size: 14px;
	border: 1px solid #DDD;
	
	text-align: left;
	padding: 12px;
	padding-bottom: 0px;
}

.newsPostHeaderInfoText{
	
	font-size: 15px;
}

.newsPostHeaderTime{
	font-size: 10px;
	color: grey;
	margin-left: 5px;
	
}

.newsPostHeaderProfPic{
	float: left;
	margin-right: 8px;
}

.newPostTextProfPic{
	margin-top: 12px;
	margin-bottom: 12px;
}

.newsPostHeaderInfo{
	padding: 0;
}

.newPostPhotoOptions{
	margin-left: 3px;
	padding-bottom: 8px;
	border-bottom: 1px solid #CCC; 
}

.newPostPhotoOptionIcon{
	color: #717171;
}
.newsUnit{
	min-height: 100px;
	padding-bottom: 0px;
}

.newsUnitPost{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.newsUnitText{
	margin-top: 15px;
	margin-bottom: 15px;
}

.newPostTextBox{
	width: 100%;
	padding-left: 50px;
}

.newPostText{
	width: 100%;
	border-width: 0px;
	resize: none;
}

.newPostText:focus{
	outline: none;
}



#newPostPhotoOptionUpdateStatus, #newPostPhotoOptionAddPhotoVideo {
	margin-left: 5px;
	margin-right: 8px;
	border-right: 1px solid #9AC;
}

.newPostActions{
	min-height: 50px;
	border-top: 0.5px solid #CCC;
	padding: 10px;
	

}

.newPostTagButton{
	font-size: 20px;
	margin-left: 10px;
	margin-top: 5px;
}

.newPostActionsTagButtons{
	height: 20px;
	
}

#newsUnitNewPost{
	padding-bottom: 0px;
}

.postNewPostButton{
	float: right;

}




