<div class = "container-fluid">
	<div class = "row homeNavbar">
		<div id = "SearchAndHomeItems" class = "col-md-4 homeNavbarItem">Search and Home</div>
		<div class = "col-md-2" ></div>
		<div id = "ProfileOptionsItems" class = "col-md-4 homeNavbarItem">Here are your profile options</div>
	</div>
	<div class = "row mainBoxes">
		<div id = "favorites mainBox" class = "col-md-2">Favorites</div>
		<div id = "newsFeed mainBox" class = "col-md-7">News Feed</div>
		<div id = "messages mainBox" class = "col-md-3">Messages</div>
	</div>


</div>
<%= link_to('Sign Out', '/users/sign_out', method: :delete) %>