<div class = "container">
	<div class = "row navbar">
		<div id = "favorites" class = "col-md-2 start"></div>
		<div id = "newsFeed" class = "col-md-8 start" ></div>
		<div id = "messages" class = "col-md-2 start"></div>
	</div>


</div>
<%= link_to('Sign Out', '/users/sign_out', method: :delete) %>