<div class = "container-fluid">
	<div class = "row homeNavbar">
		<div id = "favorites" class = "col-md-2 homeNavbarItem"></div>
		<div id = "newsFeed" class = "col-md-8 homeNavbarItem" ></div>
		<div id = "messages" class = "col-md-2 homeNavbarItem"></div>
	</div>


</div>
<%= link_to('Sign Out', '/users/sign_out', method: :delete) %>