<div class = "container-fluid">
	<div class = "row navbar" id = "homeNavbar">
		
		<div id = "SearchAndHomeItems" class = "col-md-4 homeNavbarItem">Search and Home</div>
		<div class = "col-md-2" ></div>
		<div id = "ProfileOptionsItems" class = "col-md-4 homeNavbarItem">Here are your profile options</div>
		
	</div>
	<div class = "row" id = "homeNavbarBuffer">
		<div class = "col-md-12"></div>
	</div>
	
	<div class = "row mainBoxes">
		<div id = "favorites" class = "col-md-2  mainBox">Favorites</div>
		<div id = "newsFeed" class = "col-md-7  mainBox">News Feed</div>
		<div id = "messages" class = "col-md-3  mainBox">Messages</div>
	</div>

<!-- Use a cork board for the background image -->
</div>
<%= @current_user %>
<%= link_to('Sign Out', '/users/sign_out', method: :delete) %>