<div class = "container-fluid">
	<div class = "row homeNavbar">
		<div id = "SearchAndHomeItems" class = "col-md-4 homeNavbarItem">Search and Home</div>
		<div id = "ProfileOptionsItems" class = "col-md-4 homeNavbarItem">Here are your profile options</div>
	</div>


</div>
<%= link_to('Sign Out', '/users/sign_out', method: :delete) %>