<div class = "container-fluid">
	<div class = "row navbar" id = "homeNavbar">
		
		<div id = "searchAndHomeItems" class = "col-md-7 homeNavbarItem"><a href = "/"> <img id = "homeButton" src = "http://www.designfreelogoonline.com/wp-content/uploads/2014/11/00148-Horse-logo-design-free-logo-template-02.png" height = "40" width="40"></a>
			 <input id = "searchBar" type = "text" size = "50" placeholder="Search HorseNet">
			 <span id = "searchButtonContainer">
			 	<span class = "glyphicon glyphicon-search" id = "searchButton"></span>
			 </span> 
		</div>
		<div id = "ProfileOptionsItems" class = "col-md-4 homeNavbarItem">
			<span class = "ProfileOptionsItem" id = "ProfileOptionsItemsCurrentUser"><%= @current_user.name %></span>
			<span class = "ProfileOptionsItem" id = "ProfileOptionsItemsHome">Home</span>
			<span class = "ProfileOptionsItem" id = "ProfileNotificationsButtons">
				<span id = "ProfileNotificationsButton" class = "glyphicon glyphicon-user"></span>
				<span id = "ProfileNotificationsButton" class = "glyphicon glyphicon-envelope"></span>
				<span id = "ProfileNotificationsButton" class = "glyphicon glyphicon-bell"></span>

			</span>
			<span class = "ProfileOptionsItem" id = "ProfileAccountOptions">
				<span class = "glyphicon glyphicon-chevron-down"></span>
			</span>
		</div>
		
	</div>
	
	
	<div class = "row mainBoxes">

		<div class = "col-md-2  mainBox">
			<div class = "favorites"></div>
			<!-- Nested table of things roots to start from. Surfline Style how it keeps building out -->
		</div>
		<div class = "col-md-7  mainBox">
			<div class = "newsFeed"></div>
		</div>
		<div class = "col-md-3">
			<div id = "messagesBox">
				<div class = "messages mainBox"><a><b> Messages </b></a></div>
			</div>
		</div>
	</div>

<!-- Use a cork board for the background image -->
</div>
<%= link_to('Sign Out', '/users/sign_out', method: :delete) %>