// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homeNavbar{
	height: 60px;
	background-color: #7CF;
	text-align: center;
	padding: 9px;

}

.homeNavbarItem{
	padding: 9px;
	height: 40px;
}

.mainBoxes{
	background-color: #E9EAED;
	height: 600px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	
	
}

.homeObject {
	height: 150px;
	width: 100%;
	background-color: #FFE;
	margin: 8px;
	text-align: center;
}


