// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homeNavbar{
	height: 80px;
	background-color: #7CF;
	text-align: center;
	padding: 9px;

}

.homeNavbarItem{
	padding: 9px;
	height: 60px;
}




